.DS_Store
.venv/
*.retry
*.log
.ansible/
.cache/
molecule/*/.vagrant/
__pycache__/
*.py[cod]

NOTES.md

# Keep non-humans (and occasionally humans) from accidentally committing their prod envs
inventories/production/*
!inventories/production/.keep
!inventories/production/group_vars
inventories/production/group_vars/*
!inventories/production/group_vars/.keep
